h1 {
  text-align: center;
}
h2 { 
  border: 1px solid black;
  display: inline-block;
  padding: 5px 10px 5px 10px;
}

#chicken {
  background-color:MediumSeaGreen;
  position: absolute;
  right: -1px;
  top: -21px;
}

#beef {
  background-color:Tomato;
  color: #ffffff;
  position: absolute;
  right: -1px;
  top: -21px;
}

#fish {
  background-color:DarkKhaki;
  position: absolute;
  right: -1px;
  top: -21px;
}

p {
  padding-top: 30px;
}

@media  (min-width: 992px) and (max-width: 2000px)
{
.section1, .section2, .section3 {
  box-sizing: border-box;
  background-color:gray;
  border: 2px solid black;
  float: left;  
  padding: 0px 15px 15px 15px;
  position: relative;
  left: 17px;
  width: 31%;
}
}

@media  (min-width: 768px) and (max-width: 991px)
{
.section1 {
  box-sizing: border-box;
  background-color:gray;
  border: 2px solid black;
  float: left;
  padding: 0px 15px 15px 15px;
  position: relative; 
  width: 50%;
 }
  .section2 {
  box-sizing: border-box;
  background-color:gray;
  border: 2px solid black;
  float: right;
  margin: 1%;
  padding: 0px 15px 15px 15px;
  position: relative; 
  width: 50%;
  }
  .section3 {
  box-sizing: border-box;
  background-color:gray;
  border: 2px solid black;
  float: left;  
  padding: 0px 15px 15px 15px;
  position: relative;
  
 }
}

@media  (min-width: 100px) and (max-width: 767px)
{
.section1, .section2, .section3 {
  box-sizing: border-box;
  background-color:gray;
  border: 2px solid black;
  margin:5%;
  padding: 0px 15px 15px 15px;
  position: relative;  
  left : 15px;
  width: 85%;
}
}
